@model MvcPL.Models.UserModel

@{
    ViewBag.Title = "Delete user";
}
<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)

    <div class="form-horizontal">
        <div class="col-md-7 form-horizontal">
            <div class="form-group lead">
                @Html.DisplayFor(model => model.Email)
            </div>
            <div class="form-group">
                @Html.DisplayFor(model => model.CreationDate)
            </div>
            <div class="form-group">
                <input type="submit" value="Delete user" class="btn btn-default" />
                @Html.ActionLink("Cancel", "UsersEdit", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
